.idea/
.DS_Store
node_modules/
packages/mandarina/build/
packages/mandarina/node_modules/
packages/mandarina/.idea/
packages/mandarina-antd/build/
packages/mandarina-antd/node_modules/
packages/mandarina-antd/.idea/
***/*.js
***/*.jsx
***/*.map
website/node_modules
node_modules
codealike.json
/packages/mandarina-server/build/Action/CustomAction.d.ts
/packages/mandarina-server/build/cli/gen-files/genFiles.d.ts
/packages/mandarina-server/build/cli/gen-files/genFilesUtils.d.ts
/packages/mandarina-server/build/cli/createProject.d.ts
/packages/mandarina-server/build/cli/deploy.d.ts
/packages/mandarina-server/build/cli/index.d.ts
/packages/mandarina-server/build/cli/load-schemas.d.ts
/packages/mandarina-server/build/cli/utils.d.ts
/packages/mandarina-server/build/cli/watch.d.ts
/packages/mandarina-server/build/Errors/TableInstanceNotFound.d.ts
/packages/mandarina-server/build/Errors/UniqueActionError.d.ts
/packages/mandarina-server/build/Errors/UniqueTableError.d.ts
/packages/mandarina-server/build/Table/graphql-resolve-info.d.ts
/packages/mandarina-server/build/Table/Table.d.ts
/packages/mandarina-server/build/Table/utils.d.ts
/packages/mandarina-server/build/index.d.ts
/packages/mandarina-server/build/Mandarina.d.ts
/yarn-error.log
