.mandarina-list-thead {
    overflow: hidden;
    position: relative;
    border-collapse: collapse;
}

.mandarina-list-thead-row {
    position: relative;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.65);
    border-bottom: 1px solid rgb(232, 232, 232);
    background-color: #fafafa;
}


.mandarina-list-cell {
    padding: 5px 15px;
    border-bottom: 1px solid rgb(232, 232, 232);

}

.blur {
    filter: blur(4px);
}

.mandarina-list-thead-row .mandarina-list-thead-col {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 20px;
    font-weight: bold;
}

.mandarina-list-thead-row::after {
    clear: both;
}

.mandarina-list-thead-row::before {
    clear: both;
}

.ant-input-wrapper.ant-input-group .ant-input-number {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* avoid operator list filter grow for DatePickers*/
.ant-input-wrapper.ant-input-group.date-picker input {
    float: none !important;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.mandarina-list-thead-row .mandarina-column-sorter-inner {
    display: inline-block;
    position: relative;
    top: 7px;
    cursor: pointer;
}

.mandarina-list-thead-row .mandarina-column-sorter-up.on {
    color: #1890ff;
}

.mandarina-list-thead-row .mandarina-column-sorter-down.on {
    color: #1890ff;
}

.mandarina-list-thead-row .mandarina-column-sorter-up,
.mandarina-list-thead-row .mandarina-column-sorter-down {
    color: #c1c1c1;
    font-size: 11px;
    -webkit-transform: scale(.91666667) rotate(0deg);
    -ms-transform: scale(.91666667) rotate(0deg);
    transform: scale(.91666667) rotate(0deg);
    display: block;
    height: 1em;
    line-height: 1em;
    -webkit-transition: all .3s;
    transition: all .3s;
}


.mandarina-list-thead-col {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    font-weight: bold;
    position: relative;
    display: flex;
    flex: none;
    justify-content: center;
    flex-direction: column;
}

.mandarina-hide-column {
    font-size: 8px;
    top: 2px;
    right: 2px;
    opacity: 0;
    transition-delay: 1.5s;
    transition: opacity  linear .3s ;
    position: absolute;
    cursor: pointer;

}
.react-resizable-handle{
    opacity: 0;
    transition: opacity  linear .3s ;
}
.mandarina-list-thead-col:hover .react-resizable-handle,
    .mandarina-list-thead-col:hover .mandarina-hide-column {
    opacity: 1;
}